@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap");

html {
    scroll-behavior: smooth;
}

.headshot {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

.intro-center {
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
}

.intro-smartphone {
  font-size: 16px;
  width: 375px;
}

.intro-pc {
  font-size: 16px;
  width: 950px;
}

.subTitle {
  font-size: 44px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  text-align: center;
}

.pale-background {
    background-color: #FAFAFA;
}

.team-wrapper {
  max-width: 1300px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  text-align: center;
  height: 360px;
}

.profile-width {
  width: 300px;
}

.small-letter {
    font-size: 14px;
}

.text-justify {
  text-align: justify;
}

p {
  text-align: justify;
  max-width: 950px;
}

.medium-letter {
    font-size: 20px;
}

.font-bold {
    font-weight: bold;
}

.univ_logo_wrapper {
  text-align: center;
}

.univ_logo {
  /* width: 75px; */
  height: 50px;
  margin-left: 30px;
}

.achievements {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievements_list {
  font-size: 16px;
}

.ul_align_center {
  display: flex;
  align-items: center;
  flex-direction: column;

}

li {
  text-align: left;
  padding-bottom: 5px;
}

.merits {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.why-polymath {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-smartphone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-pc {
    display: flex;
    justify-content: center;
}
